@namespace Elsa.RD.ElsaDrivenUI.Shared

@if (WizardStep == CurrentStep)
{
    <div>
        <div class="card text-center w-50">
            <div class="card-header">
                @CardHeader
            </div>
            <div class="card-body">
                <h5 class="card-title">@CardTitle</h5>
                <p class="card-text">@CardText</p>
                @ChildContent
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int WizardStep{ get; set; }
    [Parameter]
    public int CurrentStep{ get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public string CardHeader { get; set; } = string.Empty;
    [Parameter]
    public string CardTitle { get; set; } = string.Empty;
    [Parameter]
    public string CardText { get; set; } = string.Empty;
}
