@page "/person"
@model Elsa.RD.WfEngine.Pages.PersonModel
@{
}
<!doctype html />
<html>
    <head>

    </head>
    <body>
        <form method="post"><button type="submit">Invoke workflow</button></form>
    </body>
</html>